/* 
=====================
   Style Guide
=====================
* Colors (**Pro Tip:** Use the [Eye Dropper](https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka) Chrome extension to find the colors that are used on webpages.)
   * Teal color (used for headings and backgrounds): `#4aaaa5`
   * Regular font color (used for paragraphs and all text besides the headings): `#777777`
   * Main header background color: `#ffffff`
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd`

* Fonts:
   * For heading fonts use `font-family: 'Georgia', Times, 'Times New Roman', serif;`
   * For all other fonts use `'Arial', 'Helvetica Neue', Helvetica, sans-serif;` 

*/

html{
    font-size: 16px;
    /* variables for the project */
    --color-teal: #4aaaa5;
    --color-text: #777777;
}



