body{
    --color-black: hsl(0deg, 0%, 5%);
    --color-grey: hsl(0deg, 0%, 83%);
    --color-white: hsl(0deg,0,98%);

    --color-red: hsl(3deg, 100%,69%);
    --color-green: hsl(120deg, 60%,67%);
    --color-blue: hsl(191deg, 95%,43%);
}

textarea{
    color: var(--color-black);
    border-left-color: var(--color-black);
}

.jumbotron {
    color: var(--color-black);
    border-bottom-color: var(--color-black);
}
.row {
    border-top-color: var(--color-white);;
}

.hour {
    background-color: var(--color-white);
    color: var(--color-black);
    border-top-color: var(--color-black);
}

.past {
    background-color: var(--color-grey);
    color: var(--color-white);
}

.present {
    background-color: var(--color-red);
    color: var(--color-white);
}

.future {
    background-color: var(--color-green);
    color: var(--color-white);
}

.saveBtn {
    border-left-color: var(--color-black);
    background-color: var(--color-blue);
    color: var(--color-white);
}