
/*  Defaults */
:root {
    /* site default colors */
    /* grey scales */
    --color-white     : hsl(0, 17%, 94%);
    --color-light-grey: hsl(0, 2%, 90%);
    --color-grey      : hsl(0deg, 0%, 55%);
    --color-black     : hsl(0deg, 0%, 13%);

    /* purple */
    --color-pale-pink         : hsl(296deg, 49%, 81%);
    --color-pale-pink-ripple  : hsla(296deg, 49%, 81%, 0.5);
    --color-indigo            : hsl(266deg, 97%, 35%);
    --color-indigo-ripple     : hsl(266deg, 97%, 35%, 0.33);
    --color-dark-purple       : hsl(266deg, 93%, 15%);
    --color-dark-purple-ripple: hsl(266deg, 93%, 15%, 0.33);

    /* red */
    --color-alert: hsl(0deg, 100%, 47%);
    font-size    : 16px;
}

body {
    background-color: var(--color-light-grey);
    color: var(--color-dark-purple);
}

/* Header section */
header {
    display   : block;
    margin-top: 0.5rem;
    text-align: right;
}

header div {
    display: inline-block;
    margin : 0 8px;
    position: relative;
}

.link{
    color  : var(--color-indigo);
    padding: 5px;

}

.link::after {
    position        : absolute;
    top             : 1.7rem;
    left            : 0;
    width: 100%;
    height          : 3px;
    background-color: var(--color-indigo);
    content         : '';
    opacity         : 0;
    transition      : transform 0.3s, opacity 0.3s;
    transform-origin: 100% 0;
    transform       : rotate(0deg) translateX(50%);
    transform       : translateY(-10px);
    box-sizing      : border-box;
}

.link:hover {
    outline            : 1px solid transparent;
    color: var(--color-indigo);
    border-radius      : 5px;
    font-weight        : bold;
    text-decoration    : none;
}

.link:hover::after {
    opacity  : 1;
    transform: translateY(0px);
}


/* Main Contents */
.sectionContainer {
    margin          : 4rem auto 0.5rem;
    width           : 70%;
    background-color: var(--color-white);
    display         : block;
    padding         : 1rem 1.5rem;
}

.button {
    background-color: var(--color-indigo);
    color           : var(--color-light-grey);
    display         : inline-block;
    text-decoration : none;
    margin          : 1rem;
    padding         : 0.8rem 1.5rem;
    border-radius   : 0.3rem;
    box-shadow      : 0 0 6px var(--color-dark-purple);
    transition      : background 1s, color 1s;
}

.button:focus {
    outline: none;

}

.button:active {
    background     : var(--color-indigo-ripple);
    color          : var(--color-dark-grey);
    outline        : 1px solid transparent;
    transform      : rotateX(38deg);
    transform-style: preserve-3d;
    transition     : background 0s, color 0s;
}

#landingViewContainer {
    background-color: var(--color-light-grey);
    text-align      : center;
    padding         : 2rem;
}

#quizViewContainer {
    padding: 0;
}

#quizQuestion {
    background-color: var(--color-dark-purple);
    color           : var(--color-white);
    margin          : 0;
    padding         : 1.5rem;
}

#answerChoices {
    counter-reset: count;
}

.choice::before {
    counter-increment: count;
    content          : counter(count) ".  ";
}

.choice {
    display         : block;
    cursor          : pointer;
    border          : 0;
    background-color: hsl(296, 20%, 94%);
    color           : var(--color-dark-purple);
    width           : 100%;
    padding         : 1rem;
    padding-left    : 10%;
    text-align      : left;
    border-radius   : 0.3rem;
    transition      : background 1s;
}

.choice:active {
    background: var(--color-pale-pink-ripple),
}

.choice:focus {
    outline: none;
}

.choice:hover {
    border: 2px solid var(--color-dark-purple);
}

.choice.disabled {
    cursor: default;
}

.choice.disabled:hover {
    border: none;
}

.choice.disabled.chosen {
    border          : 2px solid var(--color-dark-purple);
    background-color: var(--color-pale-pink);
}


.footer {
    text-align: right;
    color     : var(--color-grey);
    margin-top: 3rem;
    border-top: 2px solid var(--color-gray);
    min-height: 80px;
    width     : 100%;
    position  : relative;
}

.separator {
    height          : 2px;
    width           : 100%;
    background-color: hsla(0, 0%, 76%, 1);
}

#feedback {
    margin-top  : 1.5rem;
    margin-left : 2rem;
    display     : inline-block;
    margin-right: 21rem;
}

.buttonNext {
    background-color: var(--color-dark-purple);
    transition      : background 1s, color 1s;
}

.buttonNext:active {
    background-color: var(--color-dark-purple-ripple);
    color           : var(--color-dark-purple);
    transition      : background 0s;
}


.linkViewContainer {
    margin-top: 3rem;
}

.setting {
    min-height: 10rem;
}

.settings > div {
    display: block;
    margin: 1rem auto;
}
.label {
    padding: 0.375rem 0.75rem; 
    display:inline-block;
}

.btn.changeMode{
    background: var(--color-dark-purple);
    color: var(--color-white);
    transition: background 1s;
    
}

.btn.changeMode.left{
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.btn.changeMode.right{
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.changeMode:hover:enabled{
    background-color: var(--color-indigo);
    cursor:pointer;
    font-weight: 600;
}

.changeMode:active:enabled{
    transition: background 0s;
    background-color: var(--color-indigo-ripple);
}

.changeMode.chosen{
    z-index: 2;
    background-color: var(--color-indigo)

}


.alert {
    background-color: var(--color-alert);
    color           : var(--color-white);
}

.hidden {
    display: none;
}


.highscoreFooter {
    margin-top: 2rem;
}

#soundFileSettings{
    background-color: var(--color-pale-pink);
    color: var(--color-indigo);
    text-align: center;

}

.dropdown-item.chosen{
    font-weight: bold;
    /* background-color: var(--color-indigo); */
    color:var(--color-indigo);
    text-decoration: underline overline double var(--color-indigo);
}

.dropdown-item{
    background-color: var(--color-pale-pink);
    color: var(--color-indigo);
}


.dropdown-item:hover {
    outline            : 1px solid transparent;
    color: var(--color-indigo);
    background-color: var(--color-white);
    border-radius      : 5px;
    font-weight        : bold;
    text-decoration    : none;
}

.btnCollapse{
    color: var(--color-indigo);
}
.btnCollapse:hover{
    color: var(--color-indigo);
}



/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .sectionContainer {
        width: 70%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    :root {
        font-size: 14px;
    }

    .sectionContainer {
        width: 80%;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    :root {
        font-size: 12px;
    }

    .sectionContainer {
        width: 90%;
    }

    .button {
        margin-left : auto;
        margin-right: auto;
    }

    #feedback {
        margin-right: 169px;
    }
}