/* TODO translate to  */

:root{
    /* site default colors */
    --color-white: #eee;
    --color-light-grey: hsl(0deg, 0%,80%);
    --color-indigo: hsl(266deg, 97%, 35%);
    --color-ripple: hsl(266deg, 97%, 35%, 0.62);
    --color-dark-purple: hsl(266deg, 93%, 15%);
    --color-black : #222222;
    
    font-size: 16px;
}
body{
    background-color: var(--color-white);

}
header{
    clear:both;
    display: block;
    margin-top: 0.5rem;
    
}
header div{
    display:inline-block;
    margin: 0 8px;
}
#highscoreContainer{
    position:relative;
}
#highScores{
    color:var(--color-indigo);
    padding: 5px;
    
}

#highScores::after{
    position: absolute;
    top: 1.7rem;
    left:0;
    width: 100%;
    height: 3px;
    background-color:  var(--color-indigo);
    content: '';

    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    transform-origin: 100% 0;
    transform: rotate(0deg) translateX(50%);
    transform: translateY(-10px);
    box-sizing: border-box;
}

#highScores:hover{
    outline: 1px solid transparent;
    /* background-color: var(--color-indigo);
    color: white; */
    border-radius: 5px;
    font-weight:bold;
    text-decoration: none;
}

#highScores:hover::after{
    opacity: 1;
    transform: translateY(0px);
}

#timeContainer{
    float:right;
}

.sectionContainer{
    margin: 1rem auto;
    width: 50%;
    background-color: var(--color-white);
    display:block;
}

.button{
    background-color: var(--color-indigo);
    color: var(--color-light-grey);
    text-decoration: none;
    margin: 2rem;
    padding: 0.1rem 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 10px var(--color-dark-purple);
    transition: background 0.6s;
}
.button:hover{
    background-color: var(--color-indigo);
    color: var(--color-white);
    text-decoration: none;
    outline: 1px solid transparent;
    transform: rotateX(25deg);
    transform-style: preserve-3d;
}

.button:active{
    background: var(--color-ripple);
    transition: background 0s;
}

#landingViewContainer{
    text-align: center; 
    padding: 2rem;
}

.hidden{
    display:none;
}


/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .sectionContainer{
        width:70%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) { 
    :root{
        font-size: 14px;
    }
    .sectionContainer{
        width:80%;
    }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
    :root{
        font-size: 12px;
    }
    .sectionContainer{
        width:90%;
    }
    .button{
        margin:auto;
    }
}