/* ### Common Styles ### */
body{
    background-image: url(../images/full-bloom/full-bloom.png);
    margin: 0 auto;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color:#777;
    /* for sticky footer */
    display:flex;
    flex-direction: column;
    min-height:100%;
}

header{
    margin-top: 0;
    background-color: #fff;
    border-bottom: 1px solid #555;
    width: 100%;

    /* for itself */
    flex-shrink: 0;
    /* to align the nav next to heading */
    display: flex;
    flex-direction: row;
}

#pagetitle{
    margin:0;
    margin-left:5%;
    width: 60%;
}

#pagetitle > h1{
    background-color: #4aaaa5;
    color:white;
    margin:0;
    padding: 25px;
    min-width: 5em;
    width: fit-content;
    font-size: 24px;
    
}
h1, h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#nav_main{
    text-align:right;
    padding-left:5px;
    width: 40%;
}

#nav_main > ul {
    /* for links display arrangement */
    display: flex;
}
#nav_main > ul >li{
    list-style: none;
    margin: 15px;
    flex: 1 0 auto;
}

#nav_main > ul >li > a{
    text-decoration: none;
    color:#777;
}

main{
    max-width:960px;
    margin: 25px auto;
    display:inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align:left;
    padding: 15px 25px 50px;

    /* for sticky footer */
    flex-grow: 1;
}

footer{
    background-color: #666;
    border-top: 8px solid #4aaaa5;
    width:100%;
    height:50px;
    /* for sticky footer */
    flex-shrink: 0;
}

#title{
    color:#4aaaa5;
    border-bottom: 2px solid rgb(213, 213, 213);
    padding: 5px 5px 25px 5px;

}

/* ### Page specific styles ### */

/* index.html */


#content_container > img{
    margin: 15px;
    width:200px;
    height:200px;
    float: left;
}

/* portfolio.html */
.icon{
    width:200px;
    height:200px;
    position: relative;
    display: inline-block;
    margin: 15px;
}

.icon:hover{
    transform: scale(1.5);
    z-index: 4; /* zoomed must always on top of others */
}

.icon> img{
    width:inherit;
    height:inherit;
    z-index: 1; /* To make sure img is always under the text */
    border-radius: 5px;
}

.icon > p{
    /* move the label */
    z-index: 2; /* To make sure img is always under the text */
    position: absolute;
    left: -10px;
    bottom: 10px;
    /* style the text */
    color: #fff;
    text-align: center;
    background-color: #4aaaa5;
    width: inherit;
    height: 50px;
    padding: 15px;
    margin: 0 10px;
    box-sizing: border-box;

}

/* contact.html */
form > *{
    font-family: inherit;
    font-size: 100%;
    width: 100%;
    margin: 5px 0 ;
    box-sizing: border-box;
    display:block;
}

textarea{
    line-height: 70px;
}

input[type=submit]{
    background-color: #4aaaa5;
    color: #fff;
    width: 150px;
    height: 50px; 
    margin-top: 2em;
}

input[type=text], input[type=email]{
    padding: 5px;
    color: #ccc;
}

label{
    margin-top:20px;
}