/* common style */
body{
    /* background-color: rgba(212, 209, 209, 0.678); */
    background-image: url(../images/full-bloom/full-bloom.png);
    /* background-image: url(../images/email-pattern/email-pattern.png); */
    margin: 0 auto;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color:#777;
    height:100%;
    display:flex;
    flex-direction: column;
    height:100vh;
}

header{
    margin-top: 0;
    border-bottom: 1px solid #555;
    background-color: #fff;
    border: 2px solid #ccc;
    display:inline-block;
    width: 100%;
}

header > * {
    float:left;
    /* height:100%; */
}
#pagetitle{
    margin:0;
    margin-left:5%;
    /* height:100%; */
    width: 60%;
}

#pagetitle > h1{
    clear:both;
    background-color: #4aaaa5;
    color:white;
    margin:0;
    padding: 22px;
    min-width: 5em;
    width: fit-content;
    /* height:  100%; */
    font-size: 24px;
    
}
h1, h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#nav_main{
    text-align:right;
    padding-left:5px;
}

#nav_main > ul >li{
    list-style: none;
    float:left;
    margin: 15px;
}

    
#nav_main > ul >li > a{
    text-decoration: none;
    color:#777;

}
#header_container:after{
    clear:both;
    display:block;
    content:"";
}

#sec_main{
    width: 70%;
    margin: 25px auto;
    display:inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align:left;
    padding: 15px 25px 50px;
    /* min-height: calc(100vh -70px) */
    flex:1 0 auto;

}

footer{
    background-color: #666;
    border-top: 8px solid #4aaaa5;
    bottom: 0;
    width:100%;
    /* line-height: 50px; */
    height:50px;
    flex-shrink:0;
}

/* Page specific */
/* index.html */

#title{
    color:#4aaaa5;
    border-bottom: 2px solid rgb(213, 213, 213);

}
#info > img{
    margin: 15px;
    width:200px;
    height:200px;
    float: left;

}

/* portfolio.html */

/* contact.html */
#dv_form{
    width:100%;
}