.icon{
    width:300px;
    height:200px;
    position: relative;
    display: inline-block;
    margin-top: 40px;
    margin-left: 50px;
}

.icon:hover{
    transform: scale(1.1);
    top: 20px;
    left: 20px; 
    z-index: 4; /* zoomed must always on top of others */
}

.icon:hover figcaption{
    opacity: 1; 
}

.icon img{
    width:inherit;
    height:inherit;
    z-index: 1; /* To make sure img is always under the text */
    border-radius: 10px;
}

.icon > figcaption{
    /* move the label */
    z-index: 2; /* To make sure img is always under the text */
    position: absolute;
    left: -10px;
    bottom: 50px;
    /* style the text */
    color: #fff;
    text-align: center;
    background-color: rgb(49, 17, 124);
    width: inherit;
    height: 50px;
    padding: 15px;
    margin: 0 10px;
    box-sizing: border-box;
    opacity: 0;

}


